/*
Nucoro API

No description

API version: 4.175.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
	"time"
	"reflect"
)

// Linger please
var (
	_ _context.Context
)

// ApiApiService ApiApi service
type ApiApiService service

type ApiApiSchemaRetrieveRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	format *string
	lang *string
}

func (r ApiApiSchemaRetrieveRequest) Format(format string) ApiApiSchemaRetrieveRequest {
	r.format = &format
	return r
}
func (r ApiApiSchemaRetrieveRequest) Lang(lang string) ApiApiSchemaRetrieveRequest {
	r.lang = &lang
	return r
}

func (r ApiApiSchemaRetrieveRequest) Execute() (map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.ApiSchemaRetrieveExecute(r)
}

/*
ApiSchemaRetrieve Method for ApiSchemaRetrieve

OpenApi3 schema for this API. Format can be selected via content negotiation.

- YAML: application/vnd.oai.openapi
- JSON: application/vnd.oai.openapi+json

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiSchemaRetrieveRequest
*/
func (a *ApiApiService) ApiSchemaRetrieve(ctx _context.Context) ApiApiSchemaRetrieveRequest {
	return ApiApiSchemaRetrieveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ApiApiService) ApiSchemaRetrieveExecute(r ApiApiSchemaRetrieveRequest) (map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiSchemaRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/schema/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.format != nil {
		localVarQueryParams.Add("format", parameterToString(*r.format, ""))
	}
	if r.lang != nil {
		localVarQueryParams.Add("lang", parameterToString(*r.lang, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/vnd.oai.openapi", "application/yaml", "application/vnd.oai.openapi+json", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AdviceEnginesEtsCategoriesListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	limit *int32
	offset *int32
}

// Number of results to return per page.
func (r ApiApiV2AdviceEnginesEtsCategoriesListRequest) Limit(limit int32) ApiApiV2AdviceEnginesEtsCategoriesListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AdviceEnginesEtsCategoriesListRequest) Offset(offset int32) ApiApiV2AdviceEnginesEtsCategoriesListRequest {
	r.offset = &offset
	return r
}

func (r ApiApiV2AdviceEnginesEtsCategoriesListRequest) Execute() (PaginatedCategoryList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AdviceEnginesEtsCategoriesListExecute(r)
}

/*
ApiV2AdviceEnginesEtsCategoriesList Method for ApiV2AdviceEnginesEtsCategoriesList

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AdviceEnginesEtsCategoriesListRequest
*/
func (a *ApiApiService) ApiV2AdviceEnginesEtsCategoriesList(ctx _context.Context) ApiApiV2AdviceEnginesEtsCategoriesListRequest {
	return ApiApiV2AdviceEnginesEtsCategoriesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedCategoryList
func (a *ApiApiService) ApiV2AdviceEnginesEtsCategoriesListExecute(r ApiApiV2AdviceEnginesEtsCategoriesListRequest) (PaginatedCategoryList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedCategoryList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AdviceEnginesEtsCategoriesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/advice-engines/ets/categories/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	limit *int32
	offset *int32
}

// Number of results to return per page.
func (r ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest) Limit(limit int32) ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest) Offset(offset int32) ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest {
	r.offset = &offset
	return r
}

func (r ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest) Execute() (PaginatedCoreCategoryGroupList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AdviceEnginesEtsCoreCategoryGroupsListExecute(r)
}

/*
ApiV2AdviceEnginesEtsCoreCategoryGroupsList Method for ApiV2AdviceEnginesEtsCoreCategoryGroupsList

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest
*/
func (a *ApiApiService) ApiV2AdviceEnginesEtsCoreCategoryGroupsList(ctx _context.Context) ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest {
	return ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedCoreCategoryGroupList
func (a *ApiApiService) ApiV2AdviceEnginesEtsCoreCategoryGroupsListExecute(r ApiApiV2AdviceEnginesEtsCoreCategoryGroupsListRequest) (PaginatedCoreCategoryGroupList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedCoreCategoryGroupList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AdviceEnginesEtsCoreCategoryGroupsList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/advice-engines/ets/core-category-groups/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AdviceEnginesEtsForecastCreateRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	eTSForecastRequest *ETSForecastRequest
}

func (r ApiApiV2AdviceEnginesEtsForecastCreateRequest) ETSForecastRequest(eTSForecastRequest ETSForecastRequest) ApiApiV2AdviceEnginesEtsForecastCreateRequest {
	r.eTSForecastRequest = &eTSForecastRequest
	return r
}

func (r ApiApiV2AdviceEnginesEtsForecastCreateRequest) Execute() (ETSForecastRequest, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AdviceEnginesEtsForecastCreateExecute(r)
}

/*
ApiV2AdviceEnginesEtsForecastCreate Method for ApiV2AdviceEnginesEtsForecastCreate

The forecast positions and amounts for the time_horizon and  risk_level chosen.
Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AdviceEnginesEtsForecastCreateRequest
*/
func (a *ApiApiService) ApiV2AdviceEnginesEtsForecastCreate(ctx _context.Context) ApiApiV2AdviceEnginesEtsForecastCreateRequest {
	return ApiApiV2AdviceEnginesEtsForecastCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ETSForecastRequest
func (a *ApiApiService) ApiV2AdviceEnginesEtsForecastCreateExecute(r ApiApiV2AdviceEnginesEtsForecastCreateRequest) (ETSForecastRequest, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ETSForecastRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AdviceEnginesEtsForecastCreate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/advice-engines/ets/forecast/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.eTSForecastRequest == nil {
		return localVarReturnValue, nil, reportError("eTSForecastRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.eTSForecastRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	limit *int32
	offset *int32
}

// Number of results to return per page.
func (r ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest) Limit(limit int32) ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest) Offset(offset int32) ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest {
	r.offset = &offset
	return r
}

func (r ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest) Execute() (PaginatedPresetCategoryGroupList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AdviceEnginesEtsPresetCategoryGroupsListExecute(r)
}

/*
ApiV2AdviceEnginesEtsPresetCategoryGroupsList Method for ApiV2AdviceEnginesEtsPresetCategoryGroupsList

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest
*/
func (a *ApiApiService) ApiV2AdviceEnginesEtsPresetCategoryGroupsList(ctx _context.Context) ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest {
	return ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedPresetCategoryGroupList
func (a *ApiApiService) ApiV2AdviceEnginesEtsPresetCategoryGroupsListExecute(r ApiApiV2AdviceEnginesEtsPresetCategoryGroupsListRequest) (PaginatedPresetCategoryGroupList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedPresetCategoryGroupList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AdviceEnginesEtsPresetCategoryGroupsList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/advice-engines/ets/preset-category-groups/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	modelPortfolioForecastRequest *ModelPortfolioForecastRequest
}

func (r ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest) ModelPortfolioForecastRequest(modelPortfolioForecastRequest ModelPortfolioForecastRequest) ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest {
	r.modelPortfolioForecastRequest = &modelPortfolioForecastRequest
	return r
}

func (r ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest) Execute() (ModelPortfolioForecastRequest, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AdviceEnginesModelPortfolioForecastCreateExecute(r)
}

/*
ApiV2AdviceEnginesModelPortfolioForecastCreate Method for ApiV2AdviceEnginesModelPortfolioForecastCreate

The forecast positions and amounts for the time_horizon chosen.
Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest
*/
func (a *ApiApiService) ApiV2AdviceEnginesModelPortfolioForecastCreate(ctx _context.Context) ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest {
	return ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelPortfolioForecastRequest
func (a *ApiApiService) ApiV2AdviceEnginesModelPortfolioForecastCreateExecute(r ApiApiV2AdviceEnginesModelPortfolioForecastCreateRequest) (ModelPortfolioForecastRequest, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ModelPortfolioForecastRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AdviceEnginesModelPortfolioForecastCreate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/advice-engines/model-portfolio/forecast/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.modelPortfolioForecastRequest == nil {
		return localVarReturnValue, nil, reportError("modelPortfolioForecastRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modelPortfolioForecastRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	extraData *map[string]interface{}
	limit *int32
	name *string
	offset *int32
	riskHigher *int32
	riskLevel *int32
	riskLower *int32
}

// Additional ModelPortfolio attributes
func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) ExtraData(extraData map[string]interface{}) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	r.extraData = &extraData
	return r
}
// Number of results to return per page.
func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) Limit(limit int32) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	r.limit = &limit
	return r
}
func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) Name(name string) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	r.name = &name
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) Offset(offset int32) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	r.offset = &offset
	return r
}
func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) RiskHigher(riskHigher int32) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	r.riskHigher = &riskHigher
	return r
}
func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) RiskLevel(riskLevel int32) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	r.riskLevel = &riskLevel
	return r
}
func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) RiskLower(riskLower int32) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	r.riskLower = &riskLower
	return r
}

func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) Execute() (PaginatedInvestorModelPortfolioList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AdviceEnginesModelPortfolioModelPortfoliosListExecute(r)
}

/*
ApiV2AdviceEnginesModelPortfolioModelPortfoliosList Method for ApiV2AdviceEnginesModelPortfolioModelPortfoliosList

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest
*/
func (a *ApiApiService) ApiV2AdviceEnginesModelPortfolioModelPortfoliosList(ctx _context.Context) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest {
	return ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedInvestorModelPortfolioList
func (a *ApiApiService) ApiV2AdviceEnginesModelPortfolioModelPortfoliosListExecute(r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosListRequest) (PaginatedInvestorModelPortfolioList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedInvestorModelPortfolioList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AdviceEnginesModelPortfolioModelPortfoliosList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/advice-engines/model-portfolio/model-portfolios/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.extraData != nil {
		localVarQueryParams.Add("extra_data", parameterToString(*r.extraData, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.name != nil {
		localVarQueryParams.Add("name", parameterToString(*r.name, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.riskHigher != nil {
		localVarQueryParams.Add("risk_higher", parameterToString(*r.riskHigher, ""))
	}
	if r.riskLevel != nil {
		localVarQueryParams.Add("risk_level", parameterToString(*r.riskLevel, ""))
	}
	if r.riskLower != nil {
		localVarQueryParams.Add("risk_lower", parameterToString(*r.riskLower, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	uuid string
}


func (r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveRequest) Execute() (InvestorModelPortfolio, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveExecute(r)
}

/*
ApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieve Method for ApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieve

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uuid
 @return ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveRequest
*/
func (a *ApiApiService) ApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieve(ctx _context.Context, uuid string) ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveRequest {
	return ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		uuid: uuid,
	}
}

// Execute executes the request
//  @return InvestorModelPortfolio
func (a *ApiApiService) ApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveExecute(r ApiApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveRequest) (InvestorModelPortfolio, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InvestorModelPortfolio
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/advice-engines/model-portfolio/model-portfolios/{uuid}/"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", _neturl.PathEscape(parameterToString(r.uuid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsCategoriesListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	limit *int32
	offset *int32
	type_ *string
}

// Number of results to return per page.
func (r ApiApiV2AssetsCategoriesListRequest) Limit(limit int32) ApiApiV2AssetsCategoriesListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AssetsCategoriesListRequest) Offset(offset int32) ApiApiV2AssetsCategoriesListRequest {
	r.offset = &offset
	return r
}
func (r ApiApiV2AssetsCategoriesListRequest) Type_(type_ string) ApiApiV2AssetsCategoriesListRequest {
	r.type_ = &type_
	return r
}

func (r ApiApiV2AssetsCategoriesListRequest) Execute() (PaginatedAssetCategoryList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsCategoriesListExecute(r)
}

/*
ApiV2AssetsCategoriesList Method for ApiV2AssetsCategoriesList

Retrieve all asset categories

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AssetsCategoriesListRequest
*/
func (a *ApiApiService) ApiV2AssetsCategoriesList(ctx _context.Context) ApiApiV2AssetsCategoriesListRequest {
	return ApiApiV2AssetsCategoriesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedAssetCategoryList
func (a *ApiApiService) ApiV2AssetsCategoriesListExecute(r ApiApiV2AssetsCategoriesListRequest) (PaginatedAssetCategoryList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedAssetCategoryList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsCategoriesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/categories/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.type_ != nil {
		localVarQueryParams.Add("type", parameterToString(*r.type_, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsIntradayPricesLatestRetrieveRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	assetIdentifier string
}


func (r ApiApiV2AssetsIntradayPricesLatestRetrieveRequest) Execute() (IntradayPrice, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsIntradayPricesLatestRetrieveExecute(r)
}

/*
ApiV2AssetsIntradayPricesLatestRetrieve Method for ApiV2AssetsIntradayPricesLatestRetrieve

Prices (from an Asset) list view endpoints.

GET: Prices retrieve (rest framework builtin overriding get_object)

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param assetIdentifier
 @return ApiApiV2AssetsIntradayPricesLatestRetrieveRequest
*/
func (a *ApiApiService) ApiV2AssetsIntradayPricesLatestRetrieve(ctx _context.Context, assetIdentifier string) ApiApiV2AssetsIntradayPricesLatestRetrieveRequest {
	return ApiApiV2AssetsIntradayPricesLatestRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		assetIdentifier: assetIdentifier,
	}
}

// Execute executes the request
//  @return IntradayPrice
func (a *ApiApiService) ApiV2AssetsIntradayPricesLatestRetrieveExecute(r ApiApiV2AssetsIntradayPricesLatestRetrieveRequest) (IntradayPrice, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  IntradayPrice
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsIntradayPricesLatestRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/{asset_identifier}/intraday-prices/latest/"
	localVarPath = strings.Replace(localVarPath, "{"+"asset_identifier"+"}", _neturl.PathEscape(parameterToString(r.assetIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsIntradayPricesListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	assetIdentifier string
	dateAfter *string
	dateBefore *string
	datetimeAfter *time.Time
	datetimeBefore *time.Time
	limit *int32
	offset *int32
}

func (r ApiApiV2AssetsIntradayPricesListRequest) DateAfter(dateAfter string) ApiApiV2AssetsIntradayPricesListRequest {
	r.dateAfter = &dateAfter
	return r
}
func (r ApiApiV2AssetsIntradayPricesListRequest) DateBefore(dateBefore string) ApiApiV2AssetsIntradayPricesListRequest {
	r.dateBefore = &dateBefore
	return r
}
func (r ApiApiV2AssetsIntradayPricesListRequest) DatetimeAfter(datetimeAfter time.Time) ApiApiV2AssetsIntradayPricesListRequest {
	r.datetimeAfter = &datetimeAfter
	return r
}
func (r ApiApiV2AssetsIntradayPricesListRequest) DatetimeBefore(datetimeBefore time.Time) ApiApiV2AssetsIntradayPricesListRequest {
	r.datetimeBefore = &datetimeBefore
	return r
}
// Number of results to return per page.
func (r ApiApiV2AssetsIntradayPricesListRequest) Limit(limit int32) ApiApiV2AssetsIntradayPricesListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AssetsIntradayPricesListRequest) Offset(offset int32) ApiApiV2AssetsIntradayPricesListRequest {
	r.offset = &offset
	return r
}

func (r ApiApiV2AssetsIntradayPricesListRequest) Execute() (PaginatedIntradayPriceList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsIntradayPricesListExecute(r)
}

/*
ApiV2AssetsIntradayPricesList Method for ApiV2AssetsIntradayPricesList

Prices (from an Asset) list view endpoints.

GET: Prices retrieve (rest framework builtin overriding get_object)

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param assetIdentifier
 @return ApiApiV2AssetsIntradayPricesListRequest
*/
func (a *ApiApiService) ApiV2AssetsIntradayPricesList(ctx _context.Context, assetIdentifier string) ApiApiV2AssetsIntradayPricesListRequest {
	return ApiApiV2AssetsIntradayPricesListRequest{
		ApiService: a,
		ctx: ctx,
		assetIdentifier: assetIdentifier,
	}
}

// Execute executes the request
//  @return PaginatedIntradayPriceList
func (a *ApiApiService) ApiV2AssetsIntradayPricesListExecute(r ApiApiV2AssetsIntradayPricesListRequest) (PaginatedIntradayPriceList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedIntradayPriceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsIntradayPricesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/{asset_identifier}/intraday-prices/"
	localVarPath = strings.Replace(localVarPath, "{"+"asset_identifier"+"}", _neturl.PathEscape(parameterToString(r.assetIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.dateAfter != nil {
		localVarQueryParams.Add("date_after", parameterToString(*r.dateAfter, ""))
	}
	if r.dateBefore != nil {
		localVarQueryParams.Add("date_before", parameterToString(*r.dateBefore, ""))
	}
	if r.datetimeAfter != nil {
		localVarQueryParams.Add("datetime_after", parameterToString(*r.datetimeAfter, ""))
	}
	if r.datetimeBefore != nil {
		localVarQueryParams.Add("datetime_before", parameterToString(*r.datetimeBefore, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	assetType *string
	categoryCode *[]string
	categoryType *[]string
	currency *int32
	isin *string
	limit *int32
	market *int32
	name *string
	offset *int32
	status *string
	ticker *string
}

func (r ApiApiV2AssetsListRequest) AssetType(assetType string) ApiApiV2AssetsListRequest {
	r.assetType = &assetType
	return r
}
func (r ApiApiV2AssetsListRequest) CategoryCode(categoryCode []string) ApiApiV2AssetsListRequest {
	r.categoryCode = &categoryCode
	return r
}
func (r ApiApiV2AssetsListRequest) CategoryType(categoryType []string) ApiApiV2AssetsListRequest {
	r.categoryType = &categoryType
	return r
}
func (r ApiApiV2AssetsListRequest) Currency(currency int32) ApiApiV2AssetsListRequest {
	r.currency = &currency
	return r
}
func (r ApiApiV2AssetsListRequest) Isin(isin string) ApiApiV2AssetsListRequest {
	r.isin = &isin
	return r
}
// Number of results to return per page.
func (r ApiApiV2AssetsListRequest) Limit(limit int32) ApiApiV2AssetsListRequest {
	r.limit = &limit
	return r
}
func (r ApiApiV2AssetsListRequest) Market(market int32) ApiApiV2AssetsListRequest {
	r.market = &market
	return r
}
func (r ApiApiV2AssetsListRequest) Name(name string) ApiApiV2AssetsListRequest {
	r.name = &name
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AssetsListRequest) Offset(offset int32) ApiApiV2AssetsListRequest {
	r.offset = &offset
	return r
}
func (r ApiApiV2AssetsListRequest) Status(status string) ApiApiV2AssetsListRequest {
	r.status = &status
	return r
}
func (r ApiApiV2AssetsListRequest) Ticker(ticker string) ApiApiV2AssetsListRequest {
	r.ticker = &ticker
	return r
}

func (r ApiApiV2AssetsListRequest) Execute() (PaginatedAssetListList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsListExecute(r)
}

/*
ApiV2AssetsList Method for ApiV2AssetsList

A list of Assets filtered by category codes.
Default is an empty dict which returns the whole universe.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2AssetsListRequest
*/
func (a *ApiApiService) ApiV2AssetsList(ctx _context.Context) ApiApiV2AssetsListRequest {
	return ApiApiV2AssetsListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedAssetListList
func (a *ApiApiService) ApiV2AssetsListExecute(r ApiApiV2AssetsListRequest) (PaginatedAssetListList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedAssetListList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.assetType != nil {
		localVarQueryParams.Add("asset_type", parameterToString(*r.assetType, ""))
	}
	if r.categoryCode != nil {
		t := *r.categoryCode
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("category_code", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("category_code", parameterToString(t, "multi"))
		}
	}
	if r.categoryType != nil {
		t := *r.categoryType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("category_type", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("category_type", parameterToString(t, "multi"))
		}
	}
	if r.currency != nil {
		localVarQueryParams.Add("currency", parameterToString(*r.currency, ""))
	}
	if r.isin != nil {
		localVarQueryParams.Add("isin", parameterToString(*r.isin, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.market != nil {
		localVarQueryParams.Add("market", parameterToString(*r.market, ""))
	}
	if r.name != nil {
		localVarQueryParams.Add("name", parameterToString(*r.name, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	if r.ticker != nil {
		localVarQueryParams.Add("ticker", parameterToString(*r.ticker, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsPerformanceListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	assetIdentifier string
	dateYearAfter *float32
	dateYearBefore *float32
	limit *int32
	offset *int32
}

func (r ApiApiV2AssetsPerformanceListRequest) DateYearAfter(dateYearAfter float32) ApiApiV2AssetsPerformanceListRequest {
	r.dateYearAfter = &dateYearAfter
	return r
}
func (r ApiApiV2AssetsPerformanceListRequest) DateYearBefore(dateYearBefore float32) ApiApiV2AssetsPerformanceListRequest {
	r.dateYearBefore = &dateYearBefore
	return r
}
// Number of results to return per page.
func (r ApiApiV2AssetsPerformanceListRequest) Limit(limit int32) ApiApiV2AssetsPerformanceListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AssetsPerformanceListRequest) Offset(offset int32) ApiApiV2AssetsPerformanceListRequest {
	r.offset = &offset
	return r
}

func (r ApiApiV2AssetsPerformanceListRequest) Execute() (PaginatedAssetGrowthList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsPerformanceListExecute(r)
}

/*
ApiV2AssetsPerformanceList Method for ApiV2AssetsPerformanceList

Retrieve asset's yearly performance.

This View overwrites ListAPIView's 'list' method because it doesn't have
any hook that allows us to call 'get_asset_price_year_graph after the
filtering is applied.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param assetIdentifier
 @return ApiApiV2AssetsPerformanceListRequest
*/
func (a *ApiApiService) ApiV2AssetsPerformanceList(ctx _context.Context, assetIdentifier string) ApiApiV2AssetsPerformanceListRequest {
	return ApiApiV2AssetsPerformanceListRequest{
		ApiService: a,
		ctx: ctx,
		assetIdentifier: assetIdentifier,
	}
}

// Execute executes the request
//  @return PaginatedAssetGrowthList
func (a *ApiApiService) ApiV2AssetsPerformanceListExecute(r ApiApiV2AssetsPerformanceListRequest) (PaginatedAssetGrowthList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedAssetGrowthList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsPerformanceList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/{asset_identifier}/performance/"
	localVarPath = strings.Replace(localVarPath, "{"+"asset_identifier"+"}", _neturl.PathEscape(parameterToString(r.assetIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.dateYearAfter != nil {
		localVarQueryParams.Add("date_year_after", parameterToString(*r.dateYearAfter, ""))
	}
	if r.dateYearBefore != nil {
		localVarQueryParams.Add("date_year_before", parameterToString(*r.dateYearBefore, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsPricesLatestRetrieveRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	assetIdentifier string
}


func (r ApiApiV2AssetsPricesLatestRetrieveRequest) Execute() (Price, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsPricesLatestRetrieveExecute(r)
}

/*
ApiV2AssetsPricesLatestRetrieve Method for ApiV2AssetsPricesLatestRetrieve

Prices (from an Asset) list view endpoints.

GET: Prices retrieve (rest framework builtin overriding get_object)

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param assetIdentifier
 @return ApiApiV2AssetsPricesLatestRetrieveRequest
*/
func (a *ApiApiService) ApiV2AssetsPricesLatestRetrieve(ctx _context.Context, assetIdentifier string) ApiApiV2AssetsPricesLatestRetrieveRequest {
	return ApiApiV2AssetsPricesLatestRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		assetIdentifier: assetIdentifier,
	}
}

// Execute executes the request
//  @return Price
func (a *ApiApiService) ApiV2AssetsPricesLatestRetrieveExecute(r ApiApiV2AssetsPricesLatestRetrieveRequest) (Price, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  Price
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsPricesLatestRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/{asset_identifier}/prices/latest/"
	localVarPath = strings.Replace(localVarPath, "{"+"asset_identifier"+"}", _neturl.PathEscape(parameterToString(r.assetIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsPricesListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	assetIdentifier string
	dateAfter *string
	dateBefore *string
	datetimeAfter *time.Time
	datetimeBefore *time.Time
	limit *int32
	offset *int32
}

func (r ApiApiV2AssetsPricesListRequest) DateAfter(dateAfter string) ApiApiV2AssetsPricesListRequest {
	r.dateAfter = &dateAfter
	return r
}
func (r ApiApiV2AssetsPricesListRequest) DateBefore(dateBefore string) ApiApiV2AssetsPricesListRequest {
	r.dateBefore = &dateBefore
	return r
}
func (r ApiApiV2AssetsPricesListRequest) DatetimeAfter(datetimeAfter time.Time) ApiApiV2AssetsPricesListRequest {
	r.datetimeAfter = &datetimeAfter
	return r
}
func (r ApiApiV2AssetsPricesListRequest) DatetimeBefore(datetimeBefore time.Time) ApiApiV2AssetsPricesListRequest {
	r.datetimeBefore = &datetimeBefore
	return r
}
// Number of results to return per page.
func (r ApiApiV2AssetsPricesListRequest) Limit(limit int32) ApiApiV2AssetsPricesListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2AssetsPricesListRequest) Offset(offset int32) ApiApiV2AssetsPricesListRequest {
	r.offset = &offset
	return r
}

func (r ApiApiV2AssetsPricesListRequest) Execute() (PaginatedPriceList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsPricesListExecute(r)
}

/*
ApiV2AssetsPricesList Method for ApiV2AssetsPricesList

Prices (from an Asset) list view endpoints.

GET: Prices retrieve (rest framework builtin overriding get_object)

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param assetIdentifier
 @return ApiApiV2AssetsPricesListRequest
*/
func (a *ApiApiService) ApiV2AssetsPricesList(ctx _context.Context, assetIdentifier string) ApiApiV2AssetsPricesListRequest {
	return ApiApiV2AssetsPricesListRequest{
		ApiService: a,
		ctx: ctx,
		assetIdentifier: assetIdentifier,
	}
}

// Execute executes the request
//  @return PaginatedPriceList
func (a *ApiApiService) ApiV2AssetsPricesListExecute(r ApiApiV2AssetsPricesListRequest) (PaginatedPriceList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedPriceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsPricesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/{asset_identifier}/prices/"
	localVarPath = strings.Replace(localVarPath, "{"+"asset_identifier"+"}", _neturl.PathEscape(parameterToString(r.assetIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.dateAfter != nil {
		localVarQueryParams.Add("date_after", parameterToString(*r.dateAfter, ""))
	}
	if r.dateBefore != nil {
		localVarQueryParams.Add("date_before", parameterToString(*r.dateBefore, ""))
	}
	if r.datetimeAfter != nil {
		localVarQueryParams.Add("datetime_after", parameterToString(*r.datetimeAfter, ""))
	}
	if r.datetimeBefore != nil {
		localVarQueryParams.Add("datetime_before", parameterToString(*r.datetimeBefore, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2AssetsRetrieveRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	assetIdentifier string
}


func (r ApiApiV2AssetsRetrieveRequest) Execute() (AssetDetail, *_nethttp.Response, error) {
	return r.ApiService.ApiV2AssetsRetrieveExecute(r)
}

/*
ApiV2AssetsRetrieve Method for ApiV2AssetsRetrieve

Allows get an asset instance by
* UUID
* ISIN
* ISIN & MARKET_CODE
* ISIN & MARKET_CODE & CURRENCY_CODE

Examples:
    * assets/a66633d7-4418-4c85-9582-01c80df531d4/
    * assets/IE00B579F325/
    * assets/IE00B579F325_XETR_GBP/
    * assets/IE00B579F325_XETR/

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param assetIdentifier
 @return ApiApiV2AssetsRetrieveRequest
*/
func (a *ApiApiService) ApiV2AssetsRetrieve(ctx _context.Context, assetIdentifier string) ApiApiV2AssetsRetrieveRequest {
	return ApiApiV2AssetsRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		assetIdentifier: assetIdentifier,
	}
}

// Execute executes the request
//  @return AssetDetail
func (a *ApiApiService) ApiV2AssetsRetrieveExecute(r ApiApiV2AssetsRetrieveRequest) (AssetDetail, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  AssetDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2AssetsRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/assets/{asset_identifier}/"
	localVarPath = strings.Replace(localVarPath, "{"+"asset_identifier"+"}", _neturl.PathEscape(parameterToString(r.assetIdentifier, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2BillingInvoicesListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	dateFrom *string
	dateTo *string
	limit *int32
	offset *int32
	status *string
}

func (r ApiApiV2BillingInvoicesListRequest) DateFrom(dateFrom string) ApiApiV2BillingInvoicesListRequest {
	r.dateFrom = &dateFrom
	return r
}
func (r ApiApiV2BillingInvoicesListRequest) DateTo(dateTo string) ApiApiV2BillingInvoicesListRequest {
	r.dateTo = &dateTo
	return r
}
// Number of results to return per page.
func (r ApiApiV2BillingInvoicesListRequest) Limit(limit int32) ApiApiV2BillingInvoicesListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2BillingInvoicesListRequest) Offset(offset int32) ApiApiV2BillingInvoicesListRequest {
	r.offset = &offset
	return r
}
func (r ApiApiV2BillingInvoicesListRequest) Status(status string) ApiApiV2BillingInvoicesListRequest {
	r.status = &status
	return r
}

func (r ApiApiV2BillingInvoicesListRequest) Execute() (PaginatedInvoiceListList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2BillingInvoicesListExecute(r)
}

/*
ApiV2BillingInvoicesList Method for ApiV2BillingInvoicesList

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV2BillingInvoicesListRequest
*/
func (a *ApiApiService) ApiV2BillingInvoicesList(ctx _context.Context) ApiApiV2BillingInvoicesListRequest {
	return ApiApiV2BillingInvoicesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedInvoiceListList
func (a *ApiApiService) ApiV2BillingInvoicesListExecute(r ApiApiV2BillingInvoicesListRequest) (PaginatedInvoiceListList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  PaginatedInvoiceListList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2BillingInvoicesList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/billing/invoices/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.dateFrom != nil {
		localVarQueryParams.Add("date_from", parameterToString(*r.dateFrom, ""))
	}
	if r.dateTo != nil {
		localVarQueryParams.Add("date_to", parameterToString(*r.dateTo, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.status != nil {
		localVarQueryParams.Add("status", parameterToString(*r.status, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2BillingInvoicesRetrieveRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	uuid string
	format *string
}

func (r ApiApiV2BillingInvoicesRetrieveRequest) Format(format string) ApiApiV2BillingInvoicesRetrieveRequest {
	r.format = &format
	return r
}

func (r ApiApiV2BillingInvoicesRetrieveRequest) Execute() (InvoiceDetails, *_nethttp.Response, error) {
	return r.ApiService.ApiV2BillingInvoicesRetrieveExecute(r)
}

/*
ApiV2BillingInvoicesRetrieve Method for ApiV2BillingInvoicesRetrieve

This mixin implements binary responses.
It supports PDF and Base64. It can be adapted to any django View that implements the retrieve method

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param uuid
 @return ApiApiV2BillingInvoicesRetrieveRequest
*/
func (a *ApiApiService) ApiV2BillingInvoicesRetrieve(ctx _context.Context, uuid string) ApiApiV2BillingInvoicesRetrieveRequest {
	return ApiApiV2BillingInvoicesRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		uuid: uuid,
	}
}

// Execute executes the request
//  @return InvoiceDetails
func (a *ApiApiService) ApiV2BillingInvoicesRetrieveExecute(r ApiApiV2BillingInvoicesRetrieveRequest) (InvoiceDetails, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InvoiceDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2BillingInvoicesRetrieve")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/billing/invoices/{uuid}/"
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", _neturl.PathEscape(parameterToString(r.uuid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.format != nil {
		localVarQueryParams.Add("format", parameterToString(*r.format, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/pdf", "text/plain"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2BrokerOrdersCreateRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	portfolioUuid string
	createOrder *CreateOrder
}

func (r ApiApiV2BrokerOrdersCreateRequest) CreateOrder(createOrder CreateOrder) ApiApiV2BrokerOrdersCreateRequest {
	r.createOrder = &createOrder
	return r
}

func (r ApiApiV2BrokerOrdersCreateRequest) Execute() (CreateOrder, *_nethttp.Response, error) {
	return r.ApiService.ApiV2BrokerOrdersCreateExecute(r)
}

/*
ApiV2BrokerOrdersCreate Method for ApiV2BrokerOrdersCreate

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param portfolioUuid
 @return ApiApiV2BrokerOrdersCreateRequest
*/
func (a *ApiApiService) ApiV2BrokerOrdersCreate(ctx _context.Context, portfolioUuid string) ApiApiV2BrokerOrdersCreateRequest {
	return ApiApiV2BrokerOrdersCreateRequest{
		ApiService: a,
		ctx: ctx,
		portfolioUuid: portfolioUuid,
	}
}

// Execute executes the request
//  @return CreateOrder
func (a *ApiApiService) ApiV2BrokerOrdersCreateExecute(r ApiApiV2BrokerOrdersCreateRequest) (CreateOrder, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  CreateOrder
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2BrokerOrdersCreate")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/broker/orders/"
	localVarPath = strings.Replace(localVarPath, "{"+"portfolio_uuid"+"}", _neturl.PathEscape(parameterToString(r.portfolioUuid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.createOrder == nil {
		return localVarReturnValue, nil, reportError("createOrder is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json", "application/x-www-form-urlencoded", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createOrder
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV2BrokerOrdersDestroyRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	portfolioUuid string
	uuid string
}


func (r ApiApiV2BrokerOrdersDestroyRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.ApiV2BrokerOrdersDestroyExecute(r)
}

/*
ApiV2BrokerOrdersDestroy Method for ApiV2BrokerOrdersDestroy

Cancel or request cancellation to the broker

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param portfolioUuid
 @param uuid
 @return ApiApiV2BrokerOrdersDestroyRequest
*/
func (a *ApiApiService) ApiV2BrokerOrdersDestroy(ctx _context.Context, portfolioUuid string, uuid string) ApiApiV2BrokerOrdersDestroyRequest {
	return ApiApiV2BrokerOrdersDestroyRequest{
		ApiService: a,
		ctx: ctx,
		portfolioUuid: portfolioUuid,
		uuid: uuid,
	}
}

// Execute executes the request
func (a *ApiApiService) ApiV2BrokerOrdersDestroyExecute(r ApiApiV2BrokerOrdersDestroyRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApiApiService.ApiV2BrokerOrdersDestroy")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v2/broker/orders/{uuid}/"
	localVarPath = strings.Replace(localVarPath, "{"+"portfolio_uuid"+"}", _neturl.PathEscape(parameterToString(r.portfolioUuid, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"uuid"+"}", _neturl.PathEscape(parameterToString(r.uuid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV2BrokerOrdersListRequest struct {
	ctx _context.Context
	ApiService *ApiApiService
	portfolioUuid string
	adviceExternalId *string
	asset *string
	completedAfter *string
	completedBefore *string
	extraData *map[string]interface{}
	limit *int32
	offset *int32
	portfolio *string
	status *string
}

func (r ApiApiV2BrokerOrdersListRequest) AdviceExternalId(adviceExternalId string) ApiApiV2BrokerOrdersListRequest {
	r.adviceExternalId = &adviceExternalId
	return r
}
func (r ApiApiV2BrokerOrdersListRequest) Asset(asset string) ApiApiV2BrokerOrdersListRequest {
	r.asset = &asset
	return r
}
func (r ApiApiV2BrokerOrdersListRequest) CompletedAfter(completedAfter string) ApiApiV2BrokerOrdersListRequest {
	r.completedAfter = &completedAfter
	return r
}
func (r ApiApiV2BrokerOrdersListRequest) CompletedBefore(completedBefore string) ApiApiV2BrokerOrdersListRequest {
	r.completedBefore = &completedBefore
	return r
}
// Additional order attributes for the specific portal
func (r ApiApiV2BrokerOrdersListRequest) ExtraData(extraData map[string]interface{}) ApiApiV2BrokerOrdersListRequest {
	r.extraData = &extraData
	return r
}
// Number of results to return per page.
func (r ApiApiV2BrokerOrdersListRequest) Limit(limit int32) ApiApiV2BrokerOrdersListRequest {
	r.limit = &limit
	return r
}
// The initial index from which to return the results.
func (r ApiApiV2BrokerOrdersListRequest) Offset(offset int32) ApiApiV2BrokerOrdersListRequest {
	r.offset = &offset
	return r
}
func (r ApiApiV2BrokerOrdersListRequest) Portfolio(portfolio string) ApiApiV2BrokerOrdersListRequest {
	r.portfolio = &portfolio
	return r
}
func (r ApiApiV2BrokerOrdersListRequest) Status(status string) ApiApiV2BrokerOrdersListRequest {
	r.status = &status
	return r
}

func (r ApiApiV2BrokerOrdersListRequest) Execute() (PaginatedOrderListList, *_nethttp.Response, error) {
	return r.ApiService.ApiV2BrokerOrdersListExecute(r)
}

/*
ApiV2BrokerOrdersList Method for ApiV2BrokerOrdersList

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param portfolioUuid
 @return ApiApiV2BrokerOrdersListRequest
*/
func (a *ApiApiService) ApiV2BrokerOrdersList(ctx _context.Context, portfolioUuid string) ApiApiV2BrokerOrdersListRequest {
	return ApiApiV2BrokerOrdersListRequest{
		ApiService: a,
		ctx: ctx,
		portfolioUuid: portfolioUuid,
	}
}

// Execute executes the request
//  @return PaginatedOrderListList
[...]
