/*
 * Nucoro API
 * No description
 *
 * The version of the OpenAPI document: 4.175.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.AllocationDetail;
import org.openapitools.client.model.AllocationList;
import org.openapitools.client.model.AssetDetail;
import org.openapitools.client.model.Attachment;
import org.openapitools.client.model.AuthenticationResponse;
import java.math.BigDecimal;
import org.openapitools.client.model.ClientReferral;
import org.openapitools.client.model.ConversationCreate;
import org.openapitools.client.model.CreateOrder;
import org.openapitools.client.model.CurrentAllocation;
import org.openapitools.client.model.DepositCreate;
import org.openapitools.client.model.DepositDetail;
import org.openapitools.client.model.ETSForecastRequest;
import org.openapitools.client.model.EmailVerifyRequest;
import org.openapitools.client.model.EmailVerifyView;
import org.openapitools.client.model.FeedActivityList;
import org.openapitools.client.model.ForecastDecumulationRequest;
import org.openapitools.client.model.ForecastRequest;
import org.openapitools.client.model.Goal;
import org.openapitools.client.model.IntradayPrice;
import org.openapitools.client.model.InvestorModelPortfolio;
import org.openapitools.client.model.InvestorWithdrawalCreate;
import org.openapitools.client.model.InvoiceDetails;
import org.threeten.bp.LocalDate;
import org.openapitools.client.model.Message;
import org.openapitools.client.model.MinimumAppVersion;
import org.openapitools.client.model.ModelPortfolioForecastRequest;
import org.openapitools.client.model.NucoroSetting;
import org.threeten.bp.OffsetDateTime;
import org.openapitools.client.model.OrderList;
import org.openapitools.client.model.PaginatedAccessLogList;
import org.openapitools.client.model.PaginatedAllocationListList;
import org.openapitools.client.model.PaginatedAssetCategoryList;
import org.openapitools.client.model.PaginatedAssetGrowthList;
import org.openapitools.client.model.PaginatedAssetListList;
import org.openapitools.client.model.PaginatedBasePortfolioTypeRestrictionsList;
import org.openapitools.client.model.PaginatedCategoryList;
import org.openapitools.client.model.PaginatedConversationListList;
import org.openapitools.client.model.PaginatedCoreCategoryGroupList;
import org.openapitools.client.model.PaginatedCountryListList;
import org.openapitools.client.model.PaginatedDepositListList;
import org.openapitools.client.model.PaginatedFeedActivityListList;
import org.openapitools.client.model.PaginatedGoalList;
import org.openapitools.client.model.PaginatedIntradayPriceList;
import org.openapitools.client.model.PaginatedInvestorModelPortfolioList;
import org.openapitools.client.model.PaginatedInvestorWithdrawalListList;
import org.openapitools.client.model.PaginatedInvoiceListList;
import org.openapitools.client.model.PaginatedMessageList;
import org.openapitools.client.model.PaginatedNationalDocumentList;
import org.openapitools.client.model.PaginatedOrderListList;
import org.openapitools.client.model.PaginatedPortfolioListList;
import org.openapitools.client.model.PaginatedPortfolioPerformanceList;
import org.openapitools.client.model.PaginatedPortfolioPerformancePositionsList;
import org.openapitools.client.model.PaginatedPortfolioTypeList;
import org.openapitools.client.model.PaginatedPresetCategoryGroupList;
import org.openapitools.client.model.PaginatedPriceList;
import org.openapitools.client.model.PaginatedQuestionList;
import org.openapitools.client.model.PaginatedRebalanceList;
import org.openapitools.client.model.PaginatedTosList;
import org.openapitools.client.model.PatchedGoal;
import org.openapitools.client.model.PatchedPortfolioUpdate;
import org.openapitools.client.model.PortalSettingValueList;
import org.openapitools.client.model.PortfolioCreate;
import org.openapitools.client.model.PortfolioDetail;
import org.openapitools.client.model.PortfolioTypeRestrictions;
import org.openapitools.client.model.PortfolioUpdate;
import org.openapitools.client.model.Price;
import org.openapitools.client.model.Rebalance;
import org.openapitools.client.model.Response;
import org.openapitools.client.model.Subscribe;
import org.openapitools.client.model.Tos;
import java.util.UUID;
import org.openapitools.client.model.Unsubscribe;
import org.openapitools.client.model.WebsocketAuthentication;
import org.openapitools.client.model.WithdrawalDetail;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ApiApi {
    private ApiClient localVarApiClient;

    public ApiApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ApiApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for apiSchemaRetrieve
     * @param format  (optional)
     * @param lang  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiSchemaRetrieveCall(String format, String lang, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/schema/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (format != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("format", format));
        }

        if (lang != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("lang", lang));
        }

        final String[] localVarAccepts = {
            "application/vnd.oai.openapi", "application/yaml", "application/vnd.oai.openapi+json", "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiSchemaRetrieveValidateBeforeCall(String format, String lang, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiSchemaRetrieveCall(format, lang, _callback);
        return localVarCall;

    }

    /**
     * 
     * OpenApi3 schema for this API. Format can be selected via content negotiation.  - YAML: application/vnd.oai.openapi - JSON: application/vnd.oai.openapi+json
     * @param format  (optional)
     * @param lang  (optional)
     * @return Map&lt;String, Object&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public Map<String, Object> apiSchemaRetrieve(String format, String lang) throws ApiException {
        ApiResponse<Map<String, Object>> localVarResp = apiSchemaRetrieveWithHttpInfo(format, lang);
        return localVarResp.getData();
    }

    /**
     * 
     * OpenApi3 schema for this API. Format can be selected via content negotiation.  - YAML: application/vnd.oai.openapi - JSON: application/vnd.oai.openapi+json
     * @param format  (optional)
     * @param lang  (optional)
     * @return ApiResponse&lt;Map&lt;String, Object&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Map<String, Object>> apiSchemaRetrieveWithHttpInfo(String format, String lang) throws ApiException {
        okhttp3.Call localVarCall = apiSchemaRetrieveValidateBeforeCall(format, lang, null);
        Type localVarReturnType = new TypeToken<Map<String, Object>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * OpenApi3 schema for this API. Format can be selected via content negotiation.  - YAML: application/vnd.oai.openapi - JSON: application/vnd.oai.openapi+json
     * @param format  (optional)
     * @param lang  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiSchemaRetrieveAsync(String format, String lang, final ApiCallback<Map<String, Object>> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiSchemaRetrieveValidateBeforeCall(format, lang, _callback);
        Type localVarReturnType = new TypeToken<Map<String, Object>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AdviceEnginesEtsCategoriesList
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsCategoriesListCall(Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/advice-engines/ets/categories/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AdviceEnginesEtsCategoriesListValidateBeforeCall(Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsCategoriesListCall(limit, offset, _callback);
        return localVarCall;

    }

    /**
     * 
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return PaginatedCategoryList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedCategoryList apiV2AdviceEnginesEtsCategoriesList(Integer limit, Integer offset) throws ApiException {
        ApiResponse<PaginatedCategoryList> localVarResp = apiV2AdviceEnginesEtsCategoriesListWithHttpInfo(limit, offset);
        return localVarResp.getData();
    }

    /**
     * 
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return ApiResponse&lt;PaginatedCategoryList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedCategoryList> apiV2AdviceEnginesEtsCategoriesListWithHttpInfo(Integer limit, Integer offset) throws ApiException {
        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsCategoriesListValidateBeforeCall(limit, offset, null);
        Type localVarReturnType = new TypeToken<PaginatedCategoryList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsCategoriesListAsync(Integer limit, Integer offset, final ApiCallback<PaginatedCategoryList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsCategoriesListValidateBeforeCall(limit, offset, _callback);
        Type localVarReturnType = new TypeToken<PaginatedCategoryList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AdviceEnginesEtsCoreCategoryGroupsList
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsCoreCategoryGroupsListCall(Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/advice-engines/ets/core-category-groups/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AdviceEnginesEtsCoreCategoryGroupsListValidateBeforeCall(Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsCoreCategoryGroupsListCall(limit, offset, _callback);
        return localVarCall;

    }

    /**
     * 
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return PaginatedCoreCategoryGroupList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedCoreCategoryGroupList apiV2AdviceEnginesEtsCoreCategoryGroupsList(Integer limit, Integer offset) throws ApiException {
        ApiResponse<PaginatedCoreCategoryGroupList> localVarResp = apiV2AdviceEnginesEtsCoreCategoryGroupsListWithHttpInfo(limit, offset);
        return localVarResp.getData();
    }

    /**
     * 
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return ApiResponse&lt;PaginatedCoreCategoryGroupList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedCoreCategoryGroupList> apiV2AdviceEnginesEtsCoreCategoryGroupsListWithHttpInfo(Integer limit, Integer offset) throws ApiException {
        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsCoreCategoryGroupsListValidateBeforeCall(limit, offset, null);
        Type localVarReturnType = new TypeToken<PaginatedCoreCategoryGroupList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsCoreCategoryGroupsListAsync(Integer limit, Integer offset, final ApiCallback<PaginatedCoreCategoryGroupList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsCoreCategoryGroupsListValidateBeforeCall(limit, offset, _callback);
        Type localVarReturnType = new TypeToken<PaginatedCoreCategoryGroupList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AdviceEnginesEtsForecastCreate
     * @param etSForecastRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsForecastCreateCall(ETSForecastRequest etSForecastRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = etSForecastRequest;

        // create path and map variables
        String localVarPath = "/api/v2/advice-engines/ets/forecast/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json", "application/x-www-form-urlencoded", "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AdviceEnginesEtsForecastCreateValidateBeforeCall(ETSForecastRequest etSForecastRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'etSForecastRequest' is set
        if (etSForecastRequest == null) {
            throw new ApiException("Missing the required parameter 'etSForecastRequest' when calling apiV2AdviceEnginesEtsForecastCreate(Async)");
        }
        

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsForecastCreateCall(etSForecastRequest, _callback);
        return localVarCall;

    }

    /**
     * 
     * The forecast positions and amounts for the time_horizon and  risk_level chosen. Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.
     * @param etSForecastRequest  (required)
     * @return ETSForecastRequest
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ETSForecastRequest apiV2AdviceEnginesEtsForecastCreate(ETSForecastRequest etSForecastRequest) throws ApiException {
        ApiResponse<ETSForecastRequest> localVarResp = apiV2AdviceEnginesEtsForecastCreateWithHttpInfo(etSForecastRequest);
        return localVarResp.getData();
    }

    /**
     * 
     * The forecast positions and amounts for the time_horizon and  risk_level chosen. Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.
     * @param etSForecastRequest  (required)
     * @return ApiResponse&lt;ETSForecastRequest&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ETSForecastRequest> apiV2AdviceEnginesEtsForecastCreateWithHttpInfo(ETSForecastRequest etSForecastRequest) throws ApiException {
        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsForecastCreateValidateBeforeCall(etSForecastRequest, null);
        Type localVarReturnType = new TypeToken<ETSForecastRequest>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * The forecast positions and amounts for the time_horizon and  risk_level chosen. Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.
     * @param etSForecastRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsForecastCreateAsync(ETSForecastRequest etSForecastRequest, final ApiCallback<ETSForecastRequest> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsForecastCreateValidateBeforeCall(etSForecastRequest, _callback);
        Type localVarReturnType = new TypeToken<ETSForecastRequest>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AdviceEnginesEtsPresetCategoryGroupsList
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsPresetCategoryGroupsListCall(Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/advice-engines/ets/preset-category-groups/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AdviceEnginesEtsPresetCategoryGroupsListValidateBeforeCall(Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsPresetCategoryGroupsListCall(limit, offset, _callback);
        return localVarCall;

    }

    /**
     * 
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return PaginatedPresetCategoryGroupList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedPresetCategoryGroupList apiV2AdviceEnginesEtsPresetCategoryGroupsList(Integer limit, Integer offset) throws ApiException {
        ApiResponse<PaginatedPresetCategoryGroupList> localVarResp = apiV2AdviceEnginesEtsPresetCategoryGroupsListWithHttpInfo(limit, offset);
        return localVarResp.getData();
    }

    /**
     * 
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return ApiResponse&lt;PaginatedPresetCategoryGroupList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedPresetCategoryGroupList> apiV2AdviceEnginesEtsPresetCategoryGroupsListWithHttpInfo(Integer limit, Integer offset) throws ApiException {
        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsPresetCategoryGroupsListValidateBeforeCall(limit, offset, null);
        Type localVarReturnType = new TypeToken<PaginatedPresetCategoryGroupList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesEtsPresetCategoryGroupsListAsync(Integer limit, Integer offset, final ApiCallback<PaginatedPresetCategoryGroupList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AdviceEnginesEtsPresetCategoryGroupsListValidateBeforeCall(limit, offset, _callback);
        Type localVarReturnType = new TypeToken<PaginatedPresetCategoryGroupList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AdviceEnginesModelPortfolioForecastCreate
     * @param modelPortfolioForecastRequest  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesModelPortfolioForecastCreateCall(ModelPortfolioForecastRequest modelPortfolioForecastRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = modelPortfolioForecastRequest;

        // create path and map variables
        String localVarPath = "/api/v2/advice-engines/model-portfolio/forecast/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json", "application/x-www-form-urlencoded", "multipart/form-data"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AdviceEnginesModelPortfolioForecastCreateValidateBeforeCall(ModelPortfolioForecastRequest modelPortfolioForecastRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'modelPortfolioForecastRequest' is set
        if (modelPortfolioForecastRequest == null) {
            throw new ApiException("Missing the required parameter 'modelPortfolioForecastRequest' when calling apiV2AdviceEnginesModelPortfolioForecastCreate(Async)");
        }
        

        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioForecastCreateCall(modelPortfolioForecastRequest, _callback);
        return localVarCall;

    }

    /**
     * 
     * The forecast positions and amounts for the time_horizon chosen. Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.
     * @param modelPortfolioForecastRequest  (required)
     * @return ModelPortfolioForecastRequest
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ModelPortfolioForecastRequest apiV2AdviceEnginesModelPortfolioForecastCreate(ModelPortfolioForecastRequest modelPortfolioForecastRequest) throws ApiException {
        ApiResponse<ModelPortfolioForecastRequest> localVarResp = apiV2AdviceEnginesModelPortfolioForecastCreateWithHttpInfo(modelPortfolioForecastRequest);
        return localVarResp.getData();
    }

    /**
     * 
     * The forecast positions and amounts for the time_horizon chosen. Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.
     * @param modelPortfolioForecastRequest  (required)
     * @return ApiResponse&lt;ModelPortfolioForecastRequest&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ModelPortfolioForecastRequest> apiV2AdviceEnginesModelPortfolioForecastCreateWithHttpInfo(ModelPortfolioForecastRequest modelPortfolioForecastRequest) throws ApiException {
        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioForecastCreateValidateBeforeCall(modelPortfolioForecastRequest, null);
        Type localVarReturnType = new TypeToken<ModelPortfolioForecastRequest>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * The forecast positions and amounts for the time_horizon chosen. Taking into account the initial_auto_deposit and the initial_amount jointly with the selected filters.
     * @param modelPortfolioForecastRequest  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesModelPortfolioForecastCreateAsync(ModelPortfolioForecastRequest modelPortfolioForecastRequest, final ApiCallback<ModelPortfolioForecastRequest> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioForecastCreateValidateBeforeCall(modelPortfolioForecastRequest, _callback);
        Type localVarReturnType = new TypeToken<ModelPortfolioForecastRequest>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AdviceEnginesModelPortfolioModelPortfoliosList
     * @param extraData Additional ModelPortfolio attributes (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param riskHigher  (optional)
     * @param riskLevel  (optional)
     * @param riskLower  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesModelPortfolioModelPortfoliosListCall(Map<String, Object> extraData, Integer limit, String name, Integer offset, Integer riskHigher, Integer riskLevel, Integer riskLower, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/advice-engines/model-portfolio/model-portfolios/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (extraData != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("extra_data", extraData));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (name != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("name", name));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (riskHigher != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("risk_higher", riskHigher));
        }

        if (riskLevel != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("risk_level", riskLevel));
        }

        if (riskLower != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("risk_lower", riskLower));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AdviceEnginesModelPortfolioModelPortfoliosListValidateBeforeCall(Map<String, Object> extraData, Integer limit, String name, Integer offset, Integer riskHigher, Integer riskLevel, Integer riskLower, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioModelPortfoliosListCall(extraData, limit, name, offset, riskHigher, riskLevel, riskLower, _callback);
        return localVarCall;

    }

    /**
     * 
     * 
     * @param extraData Additional ModelPortfolio attributes (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param riskHigher  (optional)
     * @param riskLevel  (optional)
     * @param riskLower  (optional)
     * @return PaginatedInvestorModelPortfolioList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedInvestorModelPortfolioList apiV2AdviceEnginesModelPortfolioModelPortfoliosList(Map<String, Object> extraData, Integer limit, String name, Integer offset, Integer riskHigher, Integer riskLevel, Integer riskLower) throws ApiException {
        ApiResponse<PaginatedInvestorModelPortfolioList> localVarResp = apiV2AdviceEnginesModelPortfolioModelPortfoliosListWithHttpInfo(extraData, limit, name, offset, riskHigher, riskLevel, riskLower);
        return localVarResp.getData();
    }

    /**
     * 
     * 
     * @param extraData Additional ModelPortfolio attributes (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param riskHigher  (optional)
     * @param riskLevel  (optional)
     * @param riskLower  (optional)
     * @return ApiResponse&lt;PaginatedInvestorModelPortfolioList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedInvestorModelPortfolioList> apiV2AdviceEnginesModelPortfolioModelPortfoliosListWithHttpInfo(Map<String, Object> extraData, Integer limit, String name, Integer offset, Integer riskHigher, Integer riskLevel, Integer riskLower) throws ApiException {
        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioModelPortfoliosListValidateBeforeCall(extraData, limit, name, offset, riskHigher, riskLevel, riskLower, null);
        Type localVarReturnType = new TypeToken<PaginatedInvestorModelPortfolioList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param extraData Additional ModelPortfolio attributes (optional)
     * @param limit Number of results to return per page. (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param riskHigher  (optional)
     * @param riskLevel  (optional)
     * @param riskLower  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesModelPortfolioModelPortfoliosListAsync(Map<String, Object> extraData, Integer limit, String name, Integer offset, Integer riskHigher, Integer riskLevel, Integer riskLower, final ApiCallback<PaginatedInvestorModelPortfolioList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioModelPortfoliosListValidateBeforeCall(extraData, limit, name, offset, riskHigher, riskLevel, riskLower, _callback);
        Type localVarReturnType = new TypeToken<PaginatedInvestorModelPortfolioList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieve
     * @param uuid  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveCall(UUID uuid, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/advice-engines/model-portfolio/model-portfolios/{uuid}/"
            .replaceAll("\\{" + "uuid" + "\\}", localVarApiClient.escapeString(uuid.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveValidateBeforeCall(UUID uuid, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'uuid' is set
        if (uuid == null) {
            throw new ApiException("Missing the required parameter 'uuid' when calling apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieve(Async)");
        }
        

        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveCall(uuid, _callback);
        return localVarCall;

    }

    /**
     * 
     * 
     * @param uuid  (required)
     * @return InvestorModelPortfolio
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public InvestorModelPortfolio apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieve(UUID uuid) throws ApiException {
        ApiResponse<InvestorModelPortfolio> localVarResp = apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveWithHttpInfo(uuid);
        return localVarResp.getData();
    }

    /**
     * 
     * 
     * @param uuid  (required)
     * @return ApiResponse&lt;InvestorModelPortfolio&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<InvestorModelPortfolio> apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveWithHttpInfo(UUID uuid) throws ApiException {
        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveValidateBeforeCall(uuid, null);
        Type localVarReturnType = new TypeToken<InvestorModelPortfolio>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param uuid  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveAsync(UUID uuid, final ApiCallback<InvestorModelPortfolio> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AdviceEnginesModelPortfolioModelPortfoliosRetrieveValidateBeforeCall(uuid, _callback);
        Type localVarReturnType = new TypeToken<InvestorModelPortfolio>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AssetsCategoriesList
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param type  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsCategoriesListCall(Integer limit, Integer offset, String type, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/assets/categories/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (type != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("type", type));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AssetsCategoriesListValidateBeforeCall(Integer limit, Integer offset, String type, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV2AssetsCategoriesListCall(limit, offset, type, _callback);
        return localVarCall;

    }

    /**
     * 
     * Retrieve all asset categories
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param type  (optional)
     * @return PaginatedAssetCategoryList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedAssetCategoryList apiV2AssetsCategoriesList(Integer limit, Integer offset, String type) throws ApiException {
        ApiResponse<PaginatedAssetCategoryList> localVarResp = apiV2AssetsCategoriesListWithHttpInfo(limit, offset, type);
        return localVarResp.getData();
    }

    /**
     * 
     * Retrieve all asset categories
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param type  (optional)
     * @return ApiResponse&lt;PaginatedAssetCategoryList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedAssetCategoryList> apiV2AssetsCategoriesListWithHttpInfo(Integer limit, Integer offset, String type) throws ApiException {
        okhttp3.Call localVarCall = apiV2AssetsCategoriesListValidateBeforeCall(limit, offset, type, null);
        Type localVarReturnType = new TypeToken<PaginatedAssetCategoryList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve all asset categories
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param type  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsCategoriesListAsync(Integer limit, Integer offset, String type, final ApiCallback<PaginatedAssetCategoryList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AssetsCategoriesListValidateBeforeCall(limit, offset, type, _callback);
        Type localVarReturnType = new TypeToken<PaginatedAssetCategoryList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AssetsIntradayPricesLatestRetrieve
     * @param assetIdentifier  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsIntradayPricesLatestRetrieveCall(UUID assetIdentifier, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/assets/{asset_identifier}/intraday-prices/latest/"
            .replaceAll("\\{" + "asset_identifier" + "\\}", localVarApiClient.escapeString(assetIdentifier.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AssetsIntradayPricesLatestRetrieveValidateBeforeCall(UUID assetIdentifier, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'assetIdentifier' is set
        if (assetIdentifier == null) {
            throw new ApiException("Missing the required parameter 'assetIdentifier' when calling apiV2AssetsIntradayPricesLatestRetrieve(Async)");
        }
        

        okhttp3.Call localVarCall = apiV2AssetsIntradayPricesLatestRetrieveCall(assetIdentifier, _callback);
        return localVarCall;

    }

    /**
     * 
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @return IntradayPrice
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public IntradayPrice apiV2AssetsIntradayPricesLatestRetrieve(UUID assetIdentifier) throws ApiException {
        ApiResponse<IntradayPrice> localVarResp = apiV2AssetsIntradayPricesLatestRetrieveWithHttpInfo(assetIdentifier);
        return localVarResp.getData();
    }

    /**
     * 
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @return ApiResponse&lt;IntradayPrice&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<IntradayPrice> apiV2AssetsIntradayPricesLatestRetrieveWithHttpInfo(UUID assetIdentifier) throws ApiException {
        okhttp3.Call localVarCall = apiV2AssetsIntradayPricesLatestRetrieveValidateBeforeCall(assetIdentifier, null);
        Type localVarReturnType = new TypeToken<IntradayPrice>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsIntradayPricesLatestRetrieveAsync(UUID assetIdentifier, final ApiCallback<IntradayPrice> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AssetsIntradayPricesLatestRetrieveValidateBeforeCall(assetIdentifier, _callback);
        Type localVarReturnType = new TypeToken<IntradayPrice>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AssetsIntradayPricesList
     * @param assetIdentifier  (required)
     * @param dateAfter  (optional)
     * @param dateBefore  (optional)
     * @param datetimeAfter  (optional)
     * @param datetimeBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsIntradayPricesListCall(UUID assetIdentifier, LocalDate dateAfter, LocalDate dateBefore, OffsetDateTime datetimeAfter, OffsetDateTime datetimeBefore, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/assets/{asset_identifier}/intraday-prices/"
            .replaceAll("\\{" + "asset_identifier" + "\\}", localVarApiClient.escapeString(assetIdentifier.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (dateAfter != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("date_after", dateAfter));
        }

        if (dateBefore != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("date_before", dateBefore));
        }

        if (datetimeAfter != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("datetime_after", datetimeAfter));
        }

        if (datetimeBefore != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("datetime_before", datetimeBefore));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AssetsIntradayPricesListValidateBeforeCall(UUID assetIdentifier, LocalDate dateAfter, LocalDate dateBefore, OffsetDateTime datetimeAfter, OffsetDateTime datetimeBefore, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'assetIdentifier' is set
        if (assetIdentifier == null) {
            throw new ApiException("Missing the required parameter 'assetIdentifier' when calling apiV2AssetsIntradayPricesList(Async)");
        }
        

        okhttp3.Call localVarCall = apiV2AssetsIntradayPricesListCall(assetIdentifier, dateAfter, dateBefore, datetimeAfter, datetimeBefore, limit, offset, _callback);
        return localVarCall;

    }

    /**
     * 
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @param dateAfter  (optional)
     * @param dateBefore  (optional)
     * @param datetimeAfter  (optional)
     * @param datetimeBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return PaginatedIntradayPriceList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedIntradayPriceList apiV2AssetsIntradayPricesList(UUID assetIdentifier, LocalDate dateAfter, LocalDate dateBefore, OffsetDateTime datetimeAfter, OffsetDateTime datetimeBefore, Integer limit, Integer offset) throws ApiException {
        ApiResponse<PaginatedIntradayPriceList> localVarResp = apiV2AssetsIntradayPricesListWithHttpInfo(assetIdentifier, dateAfter, dateBefore, datetimeAfter, datetimeBefore, limit, offset);
        return localVarResp.getData();
    }

    /**
     * 
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @param dateAfter  (optional)
     * @param dateBefore  (optional)
     * @param datetimeAfter  (optional)
     * @param datetimeBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return ApiResponse&lt;PaginatedIntradayPriceList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedIntradayPriceList> apiV2AssetsIntradayPricesListWithHttpInfo(UUID assetIdentifier, LocalDate dateAfter, LocalDate dateBefore, OffsetDateTime datetimeAfter, OffsetDateTime datetimeBefore, Integer limit, Integer offset) throws ApiException {
        okhttp3.Call localVarCall = apiV2AssetsIntradayPricesListValidateBeforeCall(assetIdentifier, dateAfter, dateBefore, datetimeAfter, datetimeBefore, limit, offset, null);
        Type localVarReturnType = new TypeToken<PaginatedIntradayPriceList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @param dateAfter  (optional)
     * @param dateBefore  (optional)
     * @param datetimeAfter  (optional)
     * @param datetimeBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsIntradayPricesListAsync(UUID assetIdentifier, LocalDate dateAfter, LocalDate dateBefore, OffsetDateTime datetimeAfter, OffsetDateTime datetimeBefore, Integer limit, Integer offset, final ApiCallback<PaginatedIntradayPriceList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AssetsIntradayPricesListValidateBeforeCall(assetIdentifier, dateAfter, dateBefore, datetimeAfter, datetimeBefore, limit, offset, _callback);
        Type localVarReturnType = new TypeToken<PaginatedIntradayPriceList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AssetsList
     * @param assetType  (optional)
     * @param categoryCode  (optional)
     * @param categoryType  (optional)
     * @param currency  (optional)
     * @param isin  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param market  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param status  (optional)
     * @param ticker  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsListCall(String assetType, List<String> categoryCode, List<String> categoryType, Integer currency, String isin, Integer limit, Integer market, String name, Integer offset, String status, String ticker, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/assets/";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (assetType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("asset_type", assetType));
        }

        if (categoryCode != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "category_code", categoryCode));
        }

        if (categoryType != null) {
            localVarCollectionQueryParams.addAll(localVarApiClient.parameterToPairs("multi", "category_type", categoryType));
        }

        if (currency != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("currency", currency));
        }

        if (isin != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("isin", isin));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (market != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("market", market));
        }

        if (name != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("name", name));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        if (status != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("status", status));
        }

        if (ticker != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("ticker", ticker));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AssetsListValidateBeforeCall(String assetType, List<String> categoryCode, List<String> categoryType, Integer currency, String isin, Integer limit, Integer market, String name, Integer offset, String status, String ticker, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = apiV2AssetsListCall(assetType, categoryCode, categoryType, currency, isin, limit, market, name, offset, status, ticker, _callback);
        return localVarCall;

    }

    /**
     * 
     * A list of Assets filtered by category codes. Default is an empty dict which returns the whole universe.
     * @param assetType  (optional)
     * @param categoryCode  (optional)
     * @param categoryType  (optional)
     * @param currency  (optional)
     * @param isin  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param market  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param status  (optional)
     * @param ticker  (optional)
     * @return PaginatedAssetListList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedAssetListList apiV2AssetsList(String assetType, List<String> categoryCode, List<String> categoryType, Integer currency, String isin, Integer limit, Integer market, String name, Integer offset, String status, String ticker) throws ApiException {
        ApiResponse<PaginatedAssetListList> localVarResp = apiV2AssetsListWithHttpInfo(assetType, categoryCode, categoryType, currency, isin, limit, market, name, offset, status, ticker);
        return localVarResp.getData();
    }

    /**
     * 
     * A list of Assets filtered by category codes. Default is an empty dict which returns the whole universe.
     * @param assetType  (optional)
     * @param categoryCode  (optional)
     * @param categoryType  (optional)
     * @param currency  (optional)
     * @param isin  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param market  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param status  (optional)
     * @param ticker  (optional)
     * @return ApiResponse&lt;PaginatedAssetListList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedAssetListList> apiV2AssetsListWithHttpInfo(String assetType, List<String> categoryCode, List<String> categoryType, Integer currency, String isin, Integer limit, Integer market, String name, Integer offset, String status, String ticker) throws ApiException {
        okhttp3.Call localVarCall = apiV2AssetsListValidateBeforeCall(assetType, categoryCode, categoryType, currency, isin, limit, market, name, offset, status, ticker, null);
        Type localVarReturnType = new TypeToken<PaginatedAssetListList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * A list of Assets filtered by category codes. Default is an empty dict which returns the whole universe.
     * @param assetType  (optional)
     * @param categoryCode  (optional)
     * @param categoryType  (optional)
     * @param currency  (optional)
     * @param isin  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param market  (optional)
     * @param name  (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param status  (optional)
     * @param ticker  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsListAsync(String assetType, List<String> categoryCode, List<String> categoryType, Integer currency, String isin, Integer limit, Integer market, String name, Integer offset, String status, String ticker, final ApiCallback<PaginatedAssetListList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AssetsListValidateBeforeCall(assetType, categoryCode, categoryType, currency, isin, limit, market, name, offset, status, ticker, _callback);
        Type localVarReturnType = new TypeToken<PaginatedAssetListList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AssetsPerformanceList
     * @param assetIdentifier  (required)
     * @param dateYearAfter  (optional)
     * @param dateYearBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsPerformanceListCall(UUID assetIdentifier, BigDecimal dateYearAfter, BigDecimal dateYearBefore, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/assets/{asset_identifier}/performance/"
            .replaceAll("\\{" + "asset_identifier" + "\\}", localVarApiClient.escapeString(assetIdentifier.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        if (dateYearAfter != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("date_year_after", dateYearAfter));
        }

        if (dateYearBefore != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("date_year_before", dateYearBefore));
        }

        if (limit != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("limit", limit));
        }

        if (offset != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("offset", offset));
        }

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AssetsPerformanceListValidateBeforeCall(UUID assetIdentifier, BigDecimal dateYearAfter, BigDecimal dateYearBefore, Integer limit, Integer offset, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'assetIdentifier' is set
        if (assetIdentifier == null) {
            throw new ApiException("Missing the required parameter 'assetIdentifier' when calling apiV2AssetsPerformanceList(Async)");
        }
        

        okhttp3.Call localVarCall = apiV2AssetsPerformanceListCall(assetIdentifier, dateYearAfter, dateYearBefore, limit, offset, _callback);
        return localVarCall;

    }

    /**
     * 
     * Retrieve asset&#39;s yearly performance.  This View overwrites ListAPIView&#39;s &#39;list&#39; method because it doesn&#39;t have any hook that allows us to call &#39;get_asset_price_year_graph after the filtering is applied.
     * @param assetIdentifier  (required)
     * @param dateYearAfter  (optional)
     * @param dateYearBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return PaginatedAssetGrowthList
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public PaginatedAssetGrowthList apiV2AssetsPerformanceList(UUID assetIdentifier, BigDecimal dateYearAfter, BigDecimal dateYearBefore, Integer limit, Integer offset) throws ApiException {
        ApiResponse<PaginatedAssetGrowthList> localVarResp = apiV2AssetsPerformanceListWithHttpInfo(assetIdentifier, dateYearAfter, dateYearBefore, limit, offset);
        return localVarResp.getData();
    }

    /**
     * 
     * Retrieve asset&#39;s yearly performance.  This View overwrites ListAPIView&#39;s &#39;list&#39; method because it doesn&#39;t have any hook that allows us to call &#39;get_asset_price_year_graph after the filtering is applied.
     * @param assetIdentifier  (required)
     * @param dateYearAfter  (optional)
     * @param dateYearBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @return ApiResponse&lt;PaginatedAssetGrowthList&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<PaginatedAssetGrowthList> apiV2AssetsPerformanceListWithHttpInfo(UUID assetIdentifier, BigDecimal dateYearAfter, BigDecimal dateYearBefore, Integer limit, Integer offset) throws ApiException {
        okhttp3.Call localVarCall = apiV2AssetsPerformanceListValidateBeforeCall(assetIdentifier, dateYearAfter, dateYearBefore, limit, offset, null);
        Type localVarReturnType = new TypeToken<PaginatedAssetGrowthList>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Retrieve asset&#39;s yearly performance.  This View overwrites ListAPIView&#39;s &#39;list&#39; method because it doesn&#39;t have any hook that allows us to call &#39;get_asset_price_year_graph after the filtering is applied.
     * @param assetIdentifier  (required)
     * @param dateYearAfter  (optional)
     * @param dateYearBefore  (optional)
     * @param limit Number of results to return per page. (optional)
     * @param offset The initial index from which to return the results. (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsPerformanceListAsync(UUID assetIdentifier, BigDecimal dateYearAfter, BigDecimal dateYearBefore, Integer limit, Integer offset, final ApiCallback<PaginatedAssetGrowthList> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AssetsPerformanceListValidateBeforeCall(assetIdentifier, dateYearAfter, dateYearBefore, limit, offset, _callback);
        Type localVarReturnType = new TypeToken<PaginatedAssetGrowthList>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for apiV2AssetsPricesLatestRetrieve
     * @param assetIdentifier  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsPricesLatestRetrieveCall(UUID assetIdentifier, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v2/assets/{asset_identifier}/prices/latest/"
            .replaceAll("\\{" + "asset_identifier" + "\\}", localVarApiClient.escapeString(assetIdentifier.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "cookieAuth", "jwtAuth", "tokenAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call apiV2AssetsPricesLatestRetrieveValidateBeforeCall(UUID assetIdentifier, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'assetIdentifier' is set
        if (assetIdentifier == null) {
            throw new ApiException("Missing the required parameter 'assetIdentifier' when calling apiV2AssetsPricesLatestRetrieve(Async)");
        }
        

        okhttp3.Call localVarCall = apiV2AssetsPricesLatestRetrieveCall(assetIdentifier, _callback);
        return localVarCall;

    }

    /**
     * 
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @return Price
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public Price apiV2AssetsPricesLatestRetrieve(UUID assetIdentifier) throws ApiException {
        ApiResponse<Price> localVarResp = apiV2AssetsPricesLatestRetrieveWithHttpInfo(assetIdentifier);
        return localVarResp.getData();
    }

    /**
     * 
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @return ApiResponse&lt;Price&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Price> apiV2AssetsPricesLatestRetrieveWithHttpInfo(UUID assetIdentifier) throws ApiException {
        okhttp3.Call localVarCall = apiV2AssetsPricesLatestRetrieveValidateBeforeCall(assetIdentifier, null);
        Type localVarReturnType = new TypeToken<Price>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * Prices (from an Asset) list view endpoints.  GET: Prices retrieve (rest framework builtin overriding get_object)
     * @param assetIdentifier  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td>  </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call apiV2AssetsPricesLatestRetrieveAsync(UUID assetIdentifier, final ApiCallback<Price> _callback) throws ApiException {

        okhttp3.Call localVarCall = apiV2AssetsPricesLatestRetrieveValidateBeforeCall(assetIdentifier, _callback);
        Type localVarReturnType = new TypeToken<Price>(){}.getType();
[...]
